**/ContenidoSecreto

dynamics/php/*config.php

assets/*.pdf

## docs no está dentro de assets pero creo es así: assets/docs/!*.pdf

*.txt

*.jpg
*.jpeg
*.webp
*.png
!*-system

*-local
*-prueba
!*-experimento